<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!-- 
    <property name="LOG_HOME" value="D:/logs/"/> 
    <property name="APP_NAME" value="ssm"/> 
 -->    
    <property name="LOG_HOME" value="${ssm.root}"/> 
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%t] %p %c - %m%n</pattern>
        </encoder>
    </appender>
    
    <appender name="infoAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">   
            <fileNamePattern>${LOG_HOME}/logs/info_%d{yyyy-MM-dd}.log</fileNamePattern>   
            <maxHistory>30</maxHistory>    
        </rollingPolicy>   
        <encoder>   
           <pattern>%d{HH:mm:ss} [%t] %p %c - %m%n</pattern>   
        </encoder> 
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
	        <level>INFO</level>  
	        <onMatch>ACCEPT</onMatch>  
	        <onMismatch>DENY</onMismatch>  
	    </filter>
	    <!-- 
	    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
	        <level>info</level>
	    </filter>
	     -->
    </appender>  

    <root level="INFO">
        <appender-ref ref="stdout" /> 
        <appender-ref ref="infoAppender" />
    </root>
</configuration>