<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans.xsd ">
                        
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="mapperLocations">
			<array>
				<value>classpath:com/waitme/ssm/dao/mapper/*.xml</value>
				<value>classpath:com/waitme/ssm/**/dao/mapper/*.xml</value>
			</array>
		</property>
		<property name="configLocation" value="classpath:mybatis/mybatis-config.xml" /> 
	</bean>
	
	<!-- 
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
		<property name="basePackage" value="com.waitme.ssm.dao" />
		<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
	</bean>
	 -->
	 
    <!-- 扫描DAO层接口，生成代理实现类 -->
    <bean class="tk.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.waitme.ssm.dao" />
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory" />
        <property name="markerInterface" value="com.waitme.core.mybatis.dao.BaseMapper" />
        <property name="properties">
            <value>
                mappers = com.waitme.core.mybatis.dao.BaseMapper
                <!-- ORDER = BEFORE -->
            </value>
        </property>
    </bean>
    
</beans>